.contact-stayin {
  padding-top: 23px;
}

.contact-title {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  padding-bottom: 18px;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr;
}

.contact-form {
  margin: auto;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form-input {
  width: 112px;
  margin-right: 14px;
  margin-bottom: 18px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid #7D7D7D;
}

.contact-form-input:nth-child(3) {
  width: 260px;
}

.contact-form-btn {
  width: 140px;
  height: 32px;
  background: var(--primary-color);
  border-radius: 50px;
  border: none;
  color: black;
  cursor: pointer;
}

.contact-form-btn:hover {
  box-shadow: 0 0 10px red;
}

.contact-info {
  width: 260px;
  padding: 35px 0 42px;
  margin: auto;
}

.contact-info-icon {
  width: 17px;
}

.contact-info span {
  display: inline-block;
  width: 226px;
  color: var(--third-color);
  font-weight: 400;
  font-size: 11px;
  margin-left: 10px;
  padding-bottom: 22px;
}

.contact-content-thumb {
  display: none;
}

.contact-info-social {
  display: flex;
  justify-content: space-between;
}

.contact-map {
  position: relative;
  background-color: #D8D8D8;
  padding: 92px 53px 92px 77px;
}

.contact-map-tooltip {
  display: block;
}

.contact-map-detail {
  width: 159px;
  position: absolute;
  left: 92px;
  top: 110px;
  display: block;
  color: var(--third-color);
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

/* ************ Tablet ************* */
@media only screen and (min-width: 768px) {
  .contact-content {
    grid-template-columns: 1fr 1fr;
  }

  .contact-title {
    font-size: 32px;
    line-height: 40px;
  }

  .contact-map {
    padding: 67px 206px 66px 372px;
  }

  .contact-map-detail {
    top: 80px;
    left: 390px;
  }
}

/* ************ Desktop ************* */
@media only screen and (min-width: 1440px) {
  .contact-content > img {
    display: block;
    margin: auto;
  }

  .contact-stayin {
    padding-top: 68px;
  }

  .contact-content {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contact-title {
    font-size: 44px;
    line-height: 48px;
  }

  .contact-info span {

    font-size: 16px;
    line-height: 24px;
  }

  .contact-map {
    padding: 201px 0px 117px 762px;
  }

  .contact-map-detail {
    top: 220px;
    left: 780px;
    line-height: 14px;
  }

  .contact-form-btn {
    width: 210px;
    height: 48px;
    margin-top: 40px;
  }

  .contact-form {
    width: 360px;
  }

  .contact-form-input {
    width: 160px;
    height: 30px;
  }

  .contact-form-input:nth-child(3) {
    width: 360px;
  }
}
