/* Mobile: width < 768px */
.features {
  margin-top: 28px;
}

.features-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.features-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  padding: 3px 0 24px;
  text-transform: uppercase;
}

.features-content-detail {
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center;
}

.features-content-group {
  margin: auto;
}

.features-list {
  display: flex;
}

.features-list > li > img {
  width: 32px;
  height: 27px;
}

.features-item-detail {
  padding-left: 15px;
  padding-bottom: 40px;
  width: 220px;
}

.features-item-detail > p {
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 8px;
}

.features-item-detail > span {
  font-size: 12px;
  line-height: 16px;
}

.features-detail-thumb {
  margin: auto;
}

.features-detail-thumb > img {
  width: 295.7px;
}

@media only screen and (min-width: 768px) {
  .features-title {
    font-size: 32px;
    line-height: 40px;
  }

  .features-content-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    overflow: hidden;
  }

  .features-detail-thumb > img {
    width: 800px;
    height: 463px;
  }

  .features-content-detail {
    margin-left: 50px;
  }
}

/* ************* Desktop **************** */
@media only screen and (min-width: 1440px) {
  .features-title {
    font-size: 44px;
    line-height: 48px;
    padding-top: 50px;
  }

  .features-text {
    font-size: 18px;
    line-height: 30px;
    padding: 32px 0 55px;
  }

  .features-content-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    margin: auto;
    overflow: unset;
  }

  .features-list {
    padding-bottom: 35px;
  }

  .features-list > li > img {
    width: 45px;
    height: 38px;
  }

  .features-detail-thumb > img {
    width: 800px;
    height: 463px;
    margin-right: 72px;
  }

  .features-item-detail {
    width: 262px;
    height: 72px;
  }

  .features-item-detail > p {
    font-size: 16px;
    line-height: 30px;

  }

  .features-item-detail > span {
    font-size: 16px;
    line-height: 24px;

  }
}
