.footer {
  background-color: var(--third-color);
}

.footer-container {
  color: var(--second-color);
  padding: 25px 0px 28px;
}

.footer-infomation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-logo {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.footer-detail {
  width: 290px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-top: 16px;

}

.footer-copyright-desktop {
  display: none;
}

.footer-subscribe {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 21px 0 16px;
}

.footer-form {
  display: flex;
  position: relative;
}

.footer-form > input {
  width: 158px ;
  height: 28px;
  color: var(--second-color);
  background-color: var(--third-color);
  border: 1px solid rgb(182, 182, 182);
}

.footer-form > img {
  position: absolute;
  right: 0;
  width: 25.11px;
  height: 23px;
  background-color: var(--primary-color);
  padding: 5px;
  cursor: pointer;
}

.footer-links {
  margin-top: 20px;
}

.footer-links-name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
}

.footer-links-name > li > a {
  color: var(--second-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer-links-name > li > a:hover {
  color: var(--primary-color);
}

.footer-social {
  width: 221px;
  margin: auto;
}

.footer-follow {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding-top: 32px;
}


.footer-social-icon {
  display: flex;
  justify-content: space-between;
  margin: 12px 0 20px;
}

.footer-copyright-mobile {
  text-align: center;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

/* ************ Tablet ************* */
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: space-around;
  }

  .footer-logo {
    font-size: 24px;
    line-height: 28px;
  }

  .footer-copyright-desktop {
    display: block;
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .footer-copyright-mobile {
    display: none;
  }

  .footer-detail {
    font-size: 12px;
    line-height: 16px;
    padding-top: 6px;
    width: 220px;
  }

  .footer-infomation {
    align-items: flex-start;
    text-align: start;
  }

  .footer-links-name {
    column-gap: 50px;
  }

  .footer-form > input {
    width: 158px;
    height: 23.58px;
  }

  .footer-form > img {
    height: 17px;
  }
}

/* ************ Desktop ************* */
@media only screen and (min-width: 1440px) {
  .footer-logo {
    font-size: 36px;
    line-height: 42px;
  }

  .footer-detail {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
  }

  .footer-copyright-desktop {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-subscribe {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2px;
  }

  .footer-links-name {
    column-gap: 90px;
  }

  .footer-form > input {
    width: 262px;
    height: 48px;
  }

  .footer-form > img {
    width: 51px;
    height: 42px;
  }

  .footer-links-name > li > a {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-social {
    width: 300px;
  }

  .footer-follow {
    padding-top: 47px;
    font-size: 18px;
    line-height: 21px;
  }
}
