/* ********* Header - Banner - Desktop ********* */
.header {
  background-image: url("../../images/header-background-desktop.png");
  background-size: cover;
  background-position: center;
  max-height: 768px;
  box-sizing: border-box;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  align-items: center;
}

.nav-logo {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
}

.nav-menu li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  color: var(--primary-color);
}

.nav-menu .nav-links {
  margin-left: 50px;
}

.nav-social {
  display: flex;
  margin-right: 20px;
}

.nav-social-item > a > img {
  width: 24px;
}

.nav-social-item:first-child {
  margin-right: 40px;
}

.nav-social-item:nth-child(2) {
  margin-right: 40px;
}

.header-content {
  display: flex;
  padding-top: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-detail {
  width: 620px;
  font-weight: 400;
  font-size: 44px;
  line-height: 48px;
  color: white;
  text-align: center;
}

.header-videos {
  width: 555px;
  height: 324px;
  margin-top: 53px;
  margin-bottom: 87px;
  cursor: pointer;
}

.menu-down {
  width: 25px;
  height: 25px;
  display: none;
}

/* Table: 768px = width < 1440px*/
@media only screen and (max-width: 1439px) {
  header {
    max-height: 564px;
  }

  .nav-logo {
    font-size: 24px;
  }

  .nav-menu li a {
    font-size: 12px;
  }

  .nav-social-item > a > img {
    width: 16px;
  }

  .header-detail {
    font-size: 32px;
    line-height: 36px;
    width: 524px;
  }

  .header-videos {
    width: 345.63px;
    height: 201.8px;
    margin-top: 34px;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 767px) {
  header {
    max-height: 540px;
  }

  .nav-menu {
    display: none;
  }

  .menu-down {
    display: block;
    margin-right: 20px;
    width: 16px;
    height: 14px;
    cursor: pointer;
  }

  .nav-logo {
    font-size: 20px;
  }

  .nav-social-item > a > img {
    width: 19.62px;
    height: 15.94px;
  }

  .header-detail {
    font-size: 20px;
    line-height: 24px;
    width: 253px;
  }

  .header-videos {
    width: 239.78px;
    height: 140px;
  }
}
