.pricing {
  background-color: #F6F6F6;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  max-width: 1240;
  margin: auto;
}

.pricing-title {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 52px 0 33px;
}

.pricing-body {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  padding-bottom: 40px;
  position: relative;
}

.pricing-item {
  text-align: center;
  border-radius: 8px;
}

.pricing-item:nth-child(1) {
  position: absolute;
  width: 140px;
  background: #4b4b4bd5;
}

.pricing-item:nth-child(2) {
  z-index: 1;
  margin-top: 20px;
  background: var(--primary-color);
}

.pricing-item:nth-child(3) {
  position: absolute;
  top: 10px;
  width: 160px;
  background: #2b2b2b;
}

.pricing-type {
  font-family: LucidaGrande;
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  color: var(--primary-color);
  padding-top: 14px;
}

.pricing-money {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
}

.pricing-money::before {
  content: '$';
  position: absolute;
  top: 10px;
  left: -8px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.pricing-year {
  font-weight: 400;
  font-size: 12px;
  line-height: 27px;
  padding-top: 5px;
}

.pricing-detail {
  font-weight: 400;
  font-size: 11px;
  line-height: 24px;
  padding: 7px 0 30px;
}

.pricing-btn {
  width: 140px;
  height: 32px;
  margin: 0 25px 28px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

.pricing-btn:hover {
  box-shadow: 0 0 10px red;
}

.pricing-item:nth-child(2) .pricing-type {
  color: var(--third-color);
}

.pricing-item:nth-child(2) .pricing-btn {
  background-color: var(--third-color);
  border: none;
  color: var(--second-color);
}

.pricing-item:nth-child(odd) {
  color: var(--third-color);
  justify-self: center;
}

.pricing-item:nth-child(odd) .pricing-btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--third-color);
  display: none;
}

.pricing-choose {
  padding-top: 40px;
}

.pricing-choose-btn {
  width: 70px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: var(--third-color);
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.pricing-choose-btn:nth-child(2) {
  background-color: var(--primary-color);
}


/* ************ Tablet **************  */
@media only screen and (min-width: 768px) {
  .pricing-body {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 43px;
    margin-bottom: 80px;
    position: unset;
  }

  .pricing-title {
    font-size: 32px;
    line-height: 40px;
  }

  .pricing-item:nth-child(odd) {
    width: 170px;
    height: 280px;
    color: var(--second-color);
    position: unset;
  }

  .pricing-item:nth-child(2) {
    width: 170px;
    height: 280px;
    margin-top: 0;
    z-index: unset;
  }

  .pricing-item:nth-child(2) .pricing-btn {
    margin: auto;
  }

  .pricing-item:nth-child(odd) .pricing-btn {
    display: block;
    margin: auto;
  }

  .pricing-choose {
    display: none;
  }
}

/* ************ Desktop **************  */
@media only screen and (min-width: 1440px) {
  .pricing-body {
    column-gap: 68px;
    margin-bottom: 116px;
  }

  .pricing-title {
    font-size: 44px;
    line-height: 48px;
    padding: 68px 0 52px;
  }

  .pricing-item {
    width: 270px;
    height: 396px;
  }

  .pricing-item:nth-child(1),
  .pricing-item:nth-child(2),
  .pricing-item:nth-child(3) {
    width: 270px;
    height: 396px;
  }

  .pricing-type {
    font-size: 18px;
    line-height: 27px;
    font-weight: 700;
    padding: 40px 0 36px 0;
  }

  .pricing-money {
    font-size: 64px;
    line-height: 48px;
  }

  .pricing-money::before {
    top: 0;
    left: -20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }

  .pricing-year {
    font-size: 18px;
    line-height: 27px;
    padding-top: 15px;
  }

  .pricing-detail {
    font-size: 16px;
    line-height: 24px;
  }

  .pricing-btn {
    width: 198px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
}
