.projects-title {
  text-align: center;
  padding: 29px 0 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
}

.projects-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 290px;
  margin: auto;
}

.projects-item:nth-child(1) > img,
.projects-item:nth-child(2) > img,
.projects-item:nth-child(4) > img,
.projects-item:nth-child(5) > img {
  width: 145px;
  height: 145px;
}

.projects-item:nth-child(3) > img,
.projects-item:nth-child(6) > img,
.projects-item:nth-child(7) {
  width: 290px;
  height: 145px;
}

.projects-item:nth-child(3),
.projects-item:nth-child(6),
.projects-item:nth-child(7) {
  grid-column: 1/3;
  position: relative;
}

.projects-item:nth-child(7) {
  background-color: #F6F6F6;
}

.projects-content,
.projects-content-two {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  max-width: 243px;
  padding-left: 25px;
}

.projects-top {
  display: flex;
  justify-content: space-between;
}

.projects-content-title {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  padding-top: 10px;
}

.projects-content-datetime {
  color: var(--second-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.projects-content-text {
  position: relative;
  color: var(--second-color);
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  padding-top: 35px;
}

.projects-interactive {
  display: none;
}

.projects-content-name {
  padding-top: 12px;
  color: var(--third-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.projects-content-author {
  color: var(--third-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.projects-content-topic {
  position: relative;
  color: var(--third-color);
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  padding-top: 27px;
}

.projects-content-text::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: var(--second-color);
  top: 10px;
  left: 0;
}

.projects-content-topic::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: var(--third-color);
  top: 10px;
  left: 0;
}

/* Table: 768px = width < 1024px*/
@media only screen and (min-width: 768px) {
  .projects-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 720px;
    margin: auto;
  }

  .projects-title {
    font-size: 32px;
    line-height: 40px;
  }

  .projects-item:nth-child(2) {
    grid-column: 3/4;
    order: 5;
  }

  .projects-item:nth-child(3) {
    grid-column: 2/4;
    order: 2;
  }

  .projects-item:nth-child(4) {
    grid-column: 3/4;
    order: 7;
  }

  .projects-item:nth-child(5) {
    grid-column: 1/2;
    order: 5;
  }

  .projects-item:nth-child(6) {
    grid-column: 1/3;
    order: 3;
  }

  .projects-item:nth-child(7) {
    grid-column: 2/3;
    order: 6;
  }

  .projects-item:nth-child(1) > img,
  .projects-item:nth-child(2) > img,
  .projects-item:nth-child(4) > img,
  .projects-item:nth-child(5) > img {
    width: 240px;
    height: 240px;
  }

  .projects-item:nth-child(3) > img,
  .projects-item:nth-child(6) > img,
  .projects-item:nth-child(7) {
    width: 100%;
    height: 240px;
  }

  .projects-content {
    right: 0;
    width: 300px;
    padding-right: 40px;
  }

  .projects-top {
    padding-top: 40px;
  }

  .projects-content-title {
    font-size: 24px;
    line-height: 32px;
  }

  .projects-content-text {
    font-size: 11px;
    line-height: 16px;
  }

  .projects-interactive {
    display: flex;
    padding-top: 10px;
  }

  .projects-interactive > li {
    display: flex;
    color: var(--second-color);
  }

  .projects-interactive-number {
    font-size: 11px;
    line-height: 24px;
    padding-left: 6px;
    padding-right: 16px;
  }

  .projects-content-name {
    padding-top: 32px;
    font-size: 24px;
    line-height: 32px;
  }

  .projects-content-author {
    font-size: 12px;
    line-height: 16px;
  }

  .projects-content-topic {
    width: 100px;
    font-size: 36px;
    line-height: 32px;
  }

  .projects-content-text::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 4px;
    background-color: var(--second-color);
    top: 20px;
    left: 0;
  }

  .projects-content-topic::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 4px;
    background-color: var(--third-color);
    top: 10px;
    left: 0;
  }

  .projects-content-icon {
    display: none;
  }
}

/* Desktop: width > 1440px*/
@media only screen and (min-width: 1440px) {
  .projects-group {
    min-width: 1140px;
  }

  .projects-title {
    font-size: 44px;
    line-height: 48px;
    padding: 66px 0 52px;
  }

  .projects-item:nth-child(1) > img,
  .projects-item:nth-child(2) > img,
  .projects-item:nth-child(4) > img,
  .projects-item:nth-child(5) > img {
    width: 380px;
    height: 380px;
  }

  .projects-item:nth-child(3) > img,
  .projects-item:nth-child(6) > img,
  .projects-item:nth-child(7) {
    width: 100%;
    height: 380px;
  }

  .projects-content {
    min-width: 310px;
  }

  .projects-content-title {
    font-size: 32px;
    line-height: 42px;
  }

  .projects-content-datetime {
    font-size: 18px;
    line-height: 30px;
  }

  .projects-content-text {
    padding-top: 75px;
    font-size: 16px;
    line-height: 24px;
  }

  .projects-interactive {
    padding-top: 30px;
  }

  .projects-interactive-number {
    font-size: 12px;
    line-height: 24px;
  }

  .projects-content-name {
    padding-top: 60px;
    font-size: 32px;
    line-height: 42px;
  }

  .projects-content-author {
    font-size: 18px;
    line-height: 30px;
  }

  .projects-content-topic {
    padding-top: 75px;
    font-size: 64px;
    line-height: 54px;
  }

  .projects-content-topic::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 6px;
    background-color: var(--third-color);
    top: 30px;
    left: 0;
  }

  .projects-content-text::before {
    content: '';
    position: absolute;
    width: 32px;
    height: 6px;
    background-color: var(--second-color);
    top: 30px;
    left: 0;
  }

}
