.team {
  background-image: url("../../images/background-team.png");
  background-size: cover;
  background-position: center;
  max-height: 315px;
  box-sizing: border-box;
  margin-top: 128px;
}

.team-content {
  margin: auto;
  color: var(--second-color);
  padding: 34px 0 32px;
}

.team-content-text {
  margin: auto;
  width: 240px;
}

.team-content-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.team-content-job {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-top: 5px;
}

.team-content-des {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  padding: 24px 0 36px;
}

.team-dotnav {
  display: flex;
  justify-content: center;
}

.team-dotnav>span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid var(--second-color);
  margin-right: 15px;
  cursor: pointer;
}

.team-dotnav>span:first-child {
  background-color: var(--second-color);
}

/* ********* Tablet ********** */
@media only screen and (min-width:768px) {
  .team {
    margin-top: 145px;
  }

  .team-content {
    display: flex;
    justify-content: end;
  }

  .team-content-text {
    margin: unset;
    width: 280px;
  }

  .team-content-des {
    font-size: 11px;
    line-height: 16px;
  }

  .team-dotnav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 37px 0px 40px;
  }

  .team-dotnav>span {
    margin-bottom: 15px;
  }
}

/* ********* Desktop ********** */
@media only screen and (min-width:1440px) {
  .team {
    min-height: 590px;
    margin-top: 170px;
  }

  .team-content {
    padding-top: 229px;
  }

  .team-content-text {
    width: 360px;
  }

  .team-content-name {
    font-size: 32px;
    line-height: 42px;
  }

  .team-content-job {
    font-size: 18px;
    line-height: 30px;
  }

  .team-content-des {
    font-size: 16px;
    line-height: 24px;
  }

  .team-dotnav {
    margin-left: 90px;
    margin-right: 150px;
  }

  .team-dotnav>span {
    width: 10px;
    height: 10px;
  }

}
