/* ************ Testimonials - Desktop **************** */
.testimonial {
  margin-top: 42px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.testimonial-title {
  font-weight: 400;
  font-size: 44px;
  line-height: 48px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px 30px;
  padding: 28px 0 48px;
}

.testimonial-item {
  display: flex;
  width: 554px;
  height: 322.53px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding-top: 46px;
  padding-left: 41px;
}

.testimonial-item > img {
  width: 96px;
  height: 95.56px;
  padding-right: 28px;
}

.testimonial-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.testimonial-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7D7D7D;
}

.testimonial-detail {
  padding: 16px 0 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 351px;
}

.testimonial-social {
  display: flex;
}

.testimonial-social li {
  margin-right: 15px;
  list-style: none;
  cursor: pointer;
}

.testimonial-item:hover {
  transition: 0.8s;
  transform: translateY(-5px) scale(1.005);
  box-shadow: 0 4px 16px var(--primary-color);
}

/* Table: 768px = width < 1024px*/
@media only screen and (max-width:1439px) {
  .testimonial-grid {
    gap: 12px 15px;
  }

  .testimonial-title {
    font-size: 32px;
    line-height: 40px;
  }

  .testimonial-item {
    width: 330px;
    height: 248px;
    padding-top: 24px;
    padding-left: 19px;
  }

  .testimonial-name {
    font-size: 12px;
    line-height: 32px;
  }

  .testimonial-job {
    font-size: 12px;
    line-height: 32px;
  }

  .testimonial-detail {
    font-size: 11px;
    line-height: 16px;
    width: 200px;
    padding: 16px 0 18px;
  }

  .testimonial-item > img {
    width: 64px;
    height: 64px;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 767px) {
  .testimonial-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonial-title {
    font-size: 20px;
    line-height: 40px;
  }

  .testimonial-item {
    max-width: 300px;
    height: 220px;
    padding-top: 4px;
    padding-left: 19px;
  }

  .testimonial-item:nth-child(4) {
    height: 250px;
  }

  .testimonial-name {
    font-size: 12px;
    line-height: 32px;
  }

  .testimonial-job {
    font-size: 12px;
    line-height: 32px;
  }

  .testimonial-detail {
    font-size: 11px;
    line-height: 16px;
    width: 200px;
    padding: 16px 0 18px;
  }

  .testimonial-item > img {
    width: 48px;
    height: 48px;
    padding-right: 18px;
  }
}
