/* -------------- Version section - Desktop ------------- */
.version {
  background-image: url("../../images/background-cta.png");
  background-size: cover;
  background-position: center;
  height: 680px;
  margin-top: 60px;
  box-sizing: border-box;
}

.version-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.version-title {
  color: var(--second-color);
  font-weight: 400;
  font-size: 44px;
  line-height: 48px;
  padding-top: 163px;
}

.version-desc {
  color: var(--second-color);
  width: 555px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 42px;
}

.version-download {
  background-color: var(--primary-color);
  width: 210px;
  height: 48px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.version-download:hover {
  box-shadow: 0 0 10px red;
}

/* Table: width < 1024px*/
@media only screen and (max-width:1439px) {
  .version {
    height: 362px;
  }

  .version-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding-top: 57px;
  }

  .version-desc {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    padding-top: 26px;
    padding-bottom: 29px;
    max-width: 471px;
  }

  .version-download {
    width: 140px;
    height: 40px;
  }
}

/* Mobile: width < 768px */
@media only screen and (max-width: 767px) {
  .version {
    height: 360px;
  }

  .version-title {
    font-size: 20px;
    line-height: 40px;
    padding-top: 45px;
  }

  .version-desc {
    font-size: 11px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 29px;
    max-width: 240px;
  }

  .version-download {
    width: 140px;
    height: 32px;
  }
}
