@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: LucidaGrande;
  src: url("../fonts/LucidaGrande.ttf");
}

:root {
  --primary-color: #EBCB80;
  --second-color: #ffff;
  --third-color: #4b4b4b;
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
