@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: STIXGeneral;
  src: url("../fonts/STIXGeneral-Regular.ttf");
}

:root {
  --united-nations-blue-color: #5a9dea;
  --red-color: #ff0000;
  --onyx-color: #383838;
  --silver-color: #848484;
  --white-color: #ffffff;
}

body {
  box-sizing: border-box;
  font-family: Roboto, sans-serif ;
}
.pt-118 {
  padding-top: 118px;
}
/* **********HEADER - LOGO - NAVIGATION - FOOTER ******** */
header {
  height: 814px;
  background-image: url("../images/background.png");
}

.container-nav {
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 100px;
}

.nav-info {
  display: flex;
  height: 104px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff40;
}

.nav-info,
.nav-info a {
  color: var(--white-color);
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left .nav-brand {
  font-size: 26px;
  line-height: 30px;
  font-weight: 600;
  font-family: STIXGeneral;
}

.nav-left .nav-hotline {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.nav-left .nav-brand::after {
  content: "/";
  font-weight: 400;
  padding: 0 12px;
}

.nav-right .nav-menu {
  display: flex;
  list-style: none;
}

.nav-right .nav-menu a:hover {
  color: var(--red-color);
}
.nav-right .nav-links {
  text-decoration: none;
  margin-left: 37px;
  font-weight: 400;
  font-size: 22px;
}

.header-detail {
  display: flex;
  margin-top: 164px;
}

.header-detail .header-detail-text {
  display: flex;
  width: 825px;
  justify-content: center;
  align-items: center;
}

.header-detail .header-detail-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 323px;
  height: 340px;
}

.header-detail h2 {
  position: relative;
  color: var(--white-color);
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  margin-right: 35px;
}

.header-detail h2::before {
  content: '"';
  position: absolute;
  top: 0;
  left: 0;
}

/* ******ABOUT******* */
.about {
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}

.about .container-about {
  justify-content: center;
  max-width: 1232px;
}

.about-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: auto;
  max-width: 1216px;
}

.about-content-left {
  color: var(--onyx-color);
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 34px;
  flex-grow: 3;
  flex-basis: 15px;
}

.about-content-center {
  position: relative;
  flex-grow: 1;
}

.about-content-center::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 28px;
  right: 86px;
  height: 107px;
  background-color: var(--united-nations-blue-color);
  opacity: 0.4;
}

.about-content-right {
  color: var(--silver-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  flex-grow: 3;
  flex-basis: 10px;
}

.content-right-text-first {
  margin-bottom: 26px;
}

.about-content-left-btn {
  margin-top: 36px;
}
.contact-btn {
  width: 160px;
  height: 45px;
  color: var(--white-color);
  background: var(--united-nations-blue-color);
  border: 1px solid var(--united-nations-blue-color);
  border-radius: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.more-btn {
  width: 160px;
  height: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  background: var(--white-color);
  color: var(--united-nations-blue-color);
  border: 1px solid var(--united-nations-blue-color);
  border-radius: 5px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: var(--red-color);
}

.more-btn:hover {
  background-color: var(--united-nations-blue-color);
  color: var(--white-color);
}

.about-logo img {
  width: 100%;
}

/* *********SLIDESHOW*********** */
.slideshow {
  background-color: #f5f5f5;
}

.slideshow-banner {
  margin: auto;
  max-width: 1700px;
}

.slideshow-banner-group {
  padding-left: 234px;
}

.slideshow-banner-title {
  font-size: 55px;
  font-weight: 400;
}

.slideshow-banner-content {
  width: 100%;
  display: flex;
  margin-top: 82px;
}

.slideshow-banner-detail {
  position: relative;
  margin-left: 229px;
  width: 463px;
}

.slideshow-banner-detail::before {
  content: "";
  position: absolute;
  background-color: var(--united-nations-blue-color);
  top: -55px;
  left: 0px;
  width: 111px;
  height: 4px;
}

.slideshow-banner-detail p {
  margin-top: 16px;
  margin-bottom: 30px;
  font-size: 29px;
  color: var(--onyx-color);
}

.slideshow-banner-detail span {
  color: var(--silver-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.slideshow-bullets {
  text-align: center;
}

.slideshow-bullets span {
  display: inline-block;
  width: 40px;
  height: 3px;
  margin: 119px 5px 112px;
  background: var(--united-nations-blue-color);
  cursor: pointer;
}

/* ************TESTIMONIAL*********** */
.testimonial {
  margin-top: 173px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.testimonial-detail {
  width: 732px;
  height: 105px;
  left: 495px;
}

.testimonial-detail p {
  position: relative;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: var(--onyx-color);
}

.testimonial-detail p::before {
  content: '"';
  position: absolute;
  top: -20px;
  left: 0;
  font-weight: 400;
  font-size: 55px;
  color: var(--onyx-color);
  opacity: 0.8;
}

.testimonial-name {
  position: relative;
}

.testimonial-name p {
  position: relative;
  margin-top: 58px;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: var(--onyx-color);
}

.testimonial-name span {
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: var(--silver-color);
}

.testimonial-name p::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 35px;
  width: 44px;
  height: 2px;
  background: var(--united-nations-blue-color);
}

/* *********VIDEO********** */
.videos {
  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  max-width: 100%;
  height: auto;
}
/* *******CONTACT******** */
.contact {
  margin-bottom: 176px;
}
.contact-group {
  position: relative;
  max-width: 1500px;
  margin: auto;
  box-sizing: border-box;
  padding-left: 100px;
}

.contact-title {
  font-size: 55px;
  font-weight: 400;
}

.contact-content {
  display: flex;
  margin-top: 82px;
  margin-left: 116px;
}

.contact-left {
  position: relative;
  width: 463px;
  font-size: 29px;
  font-weight: 400;
  color: var(--onyx-color);
}

.contact-left::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0px;
  width: 105px;
  height: 4px;
  background: var(--united-nations-blue-color);
}

.contact-right {
  display: flex;
  align-items: center;
  padding-left: 140px;
}

.contact-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.contact-btn span {
  padding-right: 15px;
}

/* *********FOOTER********** */
footer {
  width: 100%;
  height: 212px;
  background-color: var(--united-nations-blue-color);
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 27px;
}

.footer-copyright span {
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.8;
}

.footer-social {
  display: flex;
}

.footer-social li {
  list-style: none;
  margin-left: 20px;
  cursor: pointer;
}
